@import "tailwindcss";

:root {
  --primary: #5CD6BA;
  --secondary: #0EAA66;
  --dark: #2E2E3A;
  --dark-light: #7D869C;
  --light-main: #D9D9D9;

  --text-main: #101817;      /* Casi negro orgánico */
  --text-muted: #64748b;    /* Para textos secundarios */

  --bg-app: #F8FAFB;        /* Un blanco apenas azulado, muy limpio */
  --surface: #FFFFFF;       /* Blanco puro para tarjetas/cards */
}

.layout {
  display: flex;
}

.layout main {
  flex: 1;
  overflow-y: auto;
  background-color: var(--bg-app);
}