.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

@media (min-width: 1024px) {
    .header {
        padding-left: 2rem; 
        padding-right: 2rem;
    }
}

.header-button {
    color: var(--secondary);
    padding: 0.5rem 1rem;
    border-radius: 0.175rem;
    font-weight: 600;
    width: 6.375rem;
    border: 2.2px solid var(--secondary);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--surface);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 0.55rem;
}

.header-left h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;          /* ExtraBold */
  font-style: italic;
  font-size: 24px;
  text-align: center;
  -webkit-font-smoothing: antialiased; /* Suavizado para Mac/Chrome */
  -moz-osx-font-smoothing: grayscale;   /* Suavizado para Firefox */
  letter-spacing: -0.02em;             /* Ajuste fino de espacio */
}

.header-left .logo {
    height: 2rem;
    width: auto;
}

.header-right {
    padding-right: 2.5rem;
}

.profile-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.icon-button {
    background: transparent;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-main);
    transition: background-color 0.2s ease;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 20%;
}

.icon-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.userNameSpan {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  -webkit-font-smoothing: antialiased; /* Suavizado para Mac/Chrome */
}